{% load static %}
<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title> Streamtube </title>  
    {% include "headlink.html" %}
    <script></script>

</head>

<body>

    <div class="wrapper_content">

        {% include "navbar.html" %}
        <div class="common-streamtube">


            <div class="y-content">

               <div class="row content-row">

                {% include "menu.html" %}
                
                <div class="page-inner col-sm-9 col-md-10">

                 <div id="flash_message_ajax"></div>

                 <div class="slide-area1 recom-area abt-sec">

                   <div class="abt-sec-head">

                      <div class="new-history">

                         <div class="content-head">

                             <div class="pull-left"><h4 class="bold" style="color: #000;">Channels&nbsp;&nbsp;			  
                             </h4></div>      


                             <div class="clearfix"></div>    

                         </div><!--end of content-head-->


                         <ul class="history-list">


                             <li class="sub-list row">

                                 <div class="main-history">

                                    <div class="history-image">

                                     <a href="channel/237.html">

                                        <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/1a6faf7d14a05548ae80ea0f588c90525a4bd17c.jpg" class="slide-img1 placeholder" />
                                    </a>
                                    <div class="video_duration">
                                     1 Videos
                                 </div>                        
                             </div><!--history-image-->

                             <div class="history-title">

                                 <div class="history-head row">

                                     <div class="cross-title">

                                         <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/237.html">Fun Story</a></h5>

                                         <span class="video_views">
                                           <i class="fa fa-eye"></i> 26 Subscribers <b>.</b> 
                                           19 Apr 2019
                                       </span>
                                   </div> 


                               </div> <!--end of history-head--> 

                               <div class="description hidden-xs">
			                                        <!-- <p>Fun Story</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                                   <li class="sub-list row">

                                     <div class="main-history">

                                        <div class="history-image">

                                         <a href="channel/238.html">

                                            <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/bccaecd203a3f0441fa2ce55f5cdab25417d2f9d.jpg" class="slide-img1 placeholder" />
                                        </a>
                                        <div class="video_duration">
                                         2 Videos
                                     </div>                        
                                 </div><!--history-image-->

                                 <div class="history-title">

                                     <div class="history-head row">

                                         <div class="cross-title">

                                             <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/238.html">Valli&#039;s Kitchen</a></h5>

                                             <span class="video_views">
                                               <i class="fa fa-eye"></i> 5 Subscribers <b>.</b> 
                                               19 Apr 2019
                                           </span>
                                       </div> 


                                   </div> <!--end of history-head--> 

                                   <div class="description hidden-xs">
			                                        <!-- <p>Are you a Veg Lover or Non-Veg Lover?</p>

                                            <p>This is best Channel for both. Why because - We make Non-Veg recipes with lot more Vegetables in it. Here you can learn How to Make PRAWNS, CRAB, FISH, CHICKEN and MUTTON Recipes.</p>

                                            <p>Most of the kids and adults doesn&#39;t like vegetables. Our main objective is make people eat vegetables. We are preparing non-veg food with lots of vegetables in it. So people who doesn&#39;t like vegetables they will start liking it. Trust me guys. Even i wont eat vegetables but now i&#39;m loving it. Why dont we give a try..</p>
                                        -->
                                    </div><!--end of description-->                  
                                </div><!--end of history-title--> 

                            </div><!--end of main-history-->

                            <div class="clearfix"></div>

                        </li>    


                        <li class="sub-list row">

                           <div class="main-history">

                            <div class="history-image">

                               <a href="channel/240.html">

                                <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/6ed1105bf0e118d669057c1c13b0230d9f3cdf10.jpg" class="slide-img1 placeholder" />
                            </a>
                            <div class="video_duration">
                               8 Videos
                           </div>                        
                       </div><!--history-image-->

                       <div class="history-title">

                           <div class="history-head row">

                               <div class="cross-title">

                                   <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/240.html">Avenue Nightclub</a></h5>

                                   <span class="video_views">
                                     <i class="fa fa-eye"></i> 37 Subscribers <b>.</b> 
                                     19 Apr 2019
                                 </span>
                             </div> 


                         </div> <!--end of history-head--> 

                         <div class="description hidden-xs">
			                                        <!-- <p>Watch videos of events in Edmonton</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                                   <li class="sub-list row">

                                     <div class="main-history">

                                        <div class="history-image">

                                         <a href="channel/252.html">

                                            <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/25f1c22c5e12c99387590e9820293c195b83e0ca.jpg" class="slide-img1 placeholder" />
                                        </a>
                                        <div class="video_duration">
                                         7 Videos
                                     </div>                        
                                 </div><!--history-image-->

                                 <div class="history-title">

                                     <div class="history-head row">

                                         <div class="cross-title">

                                             <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/252.html">Gaming</a></h5>

                                             <span class="video_views">
                                               <i class="fa fa-eye"></i> 15 Subscribers <b>.</b> 
                                               19 Apr 2019
                                           </span>
                                       </div> 


                                   </div> <!--end of history-head--> 

                                   <div class="description hidden-xs">
			                                        <!-- <p>Gaming</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                                   <li class="sub-list row">

                                     <div class="main-history">

                                        <div class="history-image">

                                         <a href="channel/496.html">

                                            <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/a72a809b6d92815083512ba4146971d06ccfeb5a.jpg" class="slide-img1 placeholder" />
                                        </a>
                                        <div class="video_duration">
                                         1 Videos
                                     </div>                        
                                 </div><!--history-image-->

                                 <div class="history-title">

                                     <div class="history-head row">

                                         <div class="cross-title">

                                             <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/496.html">Beaches</a></h5>

                                             <span class="video_views">
                                               <i class="fa fa-eye"></i> 1 Subscribers <b>.</b> 
                                               12 Apr 2020
                                           </span>
                                       </div> 


                                   </div> <!--end of history-head--> 

                                   <div class="description hidden-xs">
			                                        <!-- <p>Best feel in beaches&nbsp;</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                                   <li class="sub-list row">

                                     <div class="main-history">

                                        <div class="history-image">

                                         <a href="channel/497.html">

                                            <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/9ad45e6d989a0bc9ca29019e7b6e7dc5bea6efd5.jpg" class="slide-img1 placeholder" />
                                        </a>
                                        <div class="video_duration">
                                         1 Videos
                                     </div>                        
                                 </div><!--history-image-->

                                 <div class="history-title">

                                     <div class="history-head row">

                                         <div class="cross-title">

                                             <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/497.html">Baby girl playing </a></h5>

                                             <span class="video_views">
                                               <i class="fa fa-eye"></i> 0 Subscribers <b>.</b> 
                                               12 Apr 2020
                                           </span>
                                       </div> 


                                   </div> <!--end of history-head--> 

                                   <div class="description hidden-xs">
			                                        <!-- <p>Playing with the ball all are very colorful and girl is enjoying&nbsp;</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                                   <li class="sub-list row">

                                     <div class="main-history">

                                        <div class="history-image">

                                         <a href="channel/498.html">

                                            <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/ba118d3113161444f2cf02c49612e020ec633593.jpg" class="slide-img1 placeholder" />
                                        </a>
                                        <div class="video_duration">
                                         1 Videos
                                     </div>                        
                                 </div><!--history-image-->

                                 <div class="history-title">

                                     <div class="history-head row">

                                         <div class="cross-title">

                                             <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/498.html">INNA song</a></h5>

                                             <span class="video_views">
                                               <i class="fa fa-eye"></i> 1 Subscribers <b>.</b> 
                                               12 Apr 2020
                                           </span>
                                       </div> 


                                   </div> <!--end of history-head--> 

                                   <div class="description hidden-xs">
			                                        <!-- <p>Beautiful song</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                                   <li class="sub-list row">

                                     <div class="main-history">

                                        <div class="history-image">

                                         <a href="channel/499.html">

                                            <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/d65b1e68cd7586551bd0cab7dfcff368e25bc2b4.jpg" class="slide-img1 placeholder" />
                                        </a>
                                        <div class="video_duration">
                                         4 Videos
                                     </div>                        
                                 </div><!--history-image-->

                                 <div class="history-title">

                                     <div class="history-head row">

                                         <div class="cross-title">

                                             <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/499.html">Nature sound</a></h5>

                                             <span class="video_views">
                                               <i class="fa fa-eye"></i> 2 Subscribers <b>.</b> 
                                               12 Apr 2020
                                           </span>
                                       </div> 


                                   </div> <!--end of history-head--> 

                                   <div class="description hidden-xs">
			                                        <!-- <p>Adorable sound&nbsp;</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                                   <li class="sub-list row">

                                     <div class="main-history">

                                        <div class="history-image">

                                         <a href="channel/501.html">

                                            <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/65115910b3b9e0d8359a8b517ff97bd491d4f409.jpg" class="slide-img1 placeholder" />
                                        </a>
                                        <div class="video_duration">
                                         1 Videos
                                     </div>                        
                                 </div><!--history-image-->

                                 <div class="history-title">

                                     <div class="history-head row">

                                         <div class="cross-title">

                                             <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/501.html">Swans in Water</a></h5>

                                             <span class="video_views">
                                               <i class="fa fa-eye"></i> 0 Subscribers <b>.</b> 
                                               12 Apr 2020
                                           </span>
                                       </div> 


                                   </div> <!--end of history-head--> 

                                   <div class="description hidden-xs">
			                                        <!-- <p>Beautiful swim</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                                   <li class="sub-list row">

                                     <div class="main-history">

                                        <div class="history-image">

                                         <a href="channel/502.html">

                                            <img src="{% static 'streamtube/images/placeholder.gif' %}" data-src="http://streamtube.streamhash.com/uploads/channels/picture/797b10d8cc5c0743a19d34440a6e3fd53d3b4e8a.jpg" class="slide-img1 placeholder" />
                                        </a>
                                        <div class="video_duration">
                                         1 Videos
                                     </div>                        
                                 </div><!--history-image-->

                                 <div class="history-title">

                                     <div class="history-head row">

                                         <div class="cross-title">

                                             <h5 class="payment_class mb-3" style="padding: 0px;"><a href="channel/502.html">Cooking</a></h5>

                                             <span class="video_views">
                                               <i class="fa fa-eye"></i> 0 Subscribers <b>.</b> 
                                               12 Apr 2020
                                           </span>
                                       </div> 


                                   </div> <!--end of history-head--> 

                                   <div class="description hidden-xs">
			                                        <!-- <p>Cooking is a art&nbsp;</p>
                                                   -->
                                               </div><!--end of description-->                  
                                           </div><!--end of history-title--> 

                                       </div><!--end of main-history-->

                                       <div class="clearfix"></div>

                                   </li>    


                               </ul>



                               <div class="row">
                                 <div class="col-md-12">
                                     <div align="center" id="paglink"></div>
                                 </div>
                             </div>


                         </div>

                     </div>

                 </div>

                 <div class="sidebar-back"></div> 

             </div>

         </div>

     </div>


 </div>

 <div class="bottom-height"></div>

</div>
    {% include "scripts.html" %}

</body>
</html>