{% load static %}
 <footer class="footer">
    <div class="footer1 row">
        <div class="col-sm-3 col-md-3 col-lg-3"> 
            <div class="tube-image text-center">
                <img src="{% static 'uploads/settings/8ded0209d13ab8ee4491e8bf981084953681f728.png' %}">
            </div>                               
        </div><!--end of col-sm-2--> 
        <div class="col-sm-9 col-md-9 col-lg-9 foot-content">

            <ul class="term">

                <li><a  href="page_view/1.html" style="text-transform: capitalize;">About</a></li> | 

                <li><a  href="page_view/2.html" style="text-transform: capitalize;">Terms And Conditions</a></li> | 

                <li><a  href="page_view/3.html" style="text-transform: capitalize;">Privacy Policy</a></li> | 

                <li><a  href="page_view/4.html" style="text-transform: capitalize;">Contact Us</a></li> | 

                <li><a  href="page_view/9.html" style="text-transform: capitalize;">Help</a></li> | 
                <li><a href="index.html" >&#169; 2020  Streamtube </a></li>
            </ul>
        </div>   
    </div><!--end of footer1-->
</footer>