{% load static %}
<title> Streamtube </title>  
<meta name="robots" content="noindex">

<meta name="viewport" content="width=device-width,  initial-scale=1">

<meta name="description" content="STREAMTUBE">

<meta name="author" content="STREAMTUBE">

<meta name="keywords" content="STREAMTUBE">

<link rel="stylesheet" href="{% static 'streamtube/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/bootstrap/css/jquery-ui.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'streamtube/fonts/font-awesome/css/font-awesome.min.css' %}">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> 

<link rel="stylesheet" type="text/css" href="{% static 'streamtube/css/slick.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'streamtube/css/slick-theme.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'streamtube/css/style.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'streamtube/css/responsive.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'streamtube/css/responsive1.css' %}">

<link rel="stylesheet" href="{% static 'admin-css/plugins/select2/select2.min.css' %}">

<link rel="shortcut icon" type="image/png" href="{% static 'uploads/settings/a0c2858e7e8d97bc818f29a29cd4ff05f1d330fa.png' %}"/>

<style type="text/css">

    .ui-autocomplete{
        z-index: 99999;
    }

</style>
