{% load static %}
<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title> Streamtube </title>  
    <meta name="robots" content="noindex">
    
    {% include "headlink.html" %}
</head>

<body>

    <div class="wrap">

        <div class="streamtube-nav signup-nav">
            <div class="row">
                <div class="test col-xs-12">
                    <a href="index.html" class="">
                        <img src="{% static 'uploads/settings/8ded0209d13ab8ee4491e8bf981084953681f728.png' %}">
                    </a>

                    <ul class="nav navbar-nav pull-right">




                        <li  class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-right: 5px;color: #cc181e"><i class="fa fa-globe"></i> <b class="caret"></b></a>

                            <ul class="dropdown-menu" style="min-width: 70px;overflow: hidden;position: absolute;background: #fff;">


                                <li class="" ><a href="index.html" style="">en</a></li>

                                <li class="active" ><a href="login.html" style="background-color: #cc181e">es</a></li>
                            </ul>

                        </li>



                    </ul>

                    <div class="pull-right">

                                    <!-- <div class="hidden-xs hidden-sm visible-md visible-lg">
                    <a href="http://streamtube.streamhash.com/register" class="y-signin">Signup</a>
                    <a href="http://streamtube.streamhash.com/login" class="y-signin">Login</a>
                </div> -->
                
            </div>
        </div><!--test end-->

        

    </div><!--end of row-->
</div><!--end of streamtube-nav-->

<!-- <div class="clear-fix"></div> -->


<div class="login-space">
    <div class="common-form login-common">

        <div class="social-form">
            <div class="signup-head">
                <h3>Forgot Password?</h3>
            </div><!--end  of signup-head-->        
        </div><!--end of socila-form-->

        <div id="flash_message_ajax"></div>






        <div class="sign-up login-page">
            <form class="signup-form login-form" method="post" action="http://streamtube.streamhash.com/forgot/password">
             <input type="hidden" name="_token" value="fiqYZCa5rWqCfph2jrxXRYpz5u7VcOaH7VYMVEja">


             <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your email" value="">
            </div>

            <div class="change-pwd">    
                <button type="submit" class="btn btn-primary signup-submit">Submit</button>
            </div>          
            <p>Already Have an Account? <a href="login.html">Login</a></p>         
        </form>
    </div><!--end of sign-up-->
</div><!--end of common-form-->     
</div><!--end of form-background-->


<!-- <div class="bottom"></div> -->

<div class="bottom-height"></div>
    {% include "footer.html" %}
</div> 
    {% include "scripts.html" %}
</body>
</html>